In [1]:
import pandas as pd
import numpy as np
DATAPATH = "/mnt/data01/mimic-3/csv/"
NOTESFILE = "NOTEEVENTS.csv"

In [2]:
all_notes = pd.read_csv(f"{DATAPATH}{NOTESFILE}")

/mnt/data01/envs/benchmark/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
all_notes.describe()

             ROW_ID    SUBJECT_ID       HADM_ID          CGID  ISERROR
count  2.083180e+06  2.083180e+06  1.851344e+06  1.246404e+06    886.0
mean   1.041590e+06  3.242564e+04  1.498796e+05  1.771630e+04      1.0
std    6.013624e+05  2.755425e+04  2.878059e+04  2.158703e+03      0.0
min    1.000000e+00  2.000000e+00  1.000010e+05  1.401000e+04      1.0
25%    5.207958e+05  1.146500e+04  1.251950e+05  1.580300e+04      1.0
50%    1.041590e+06  2.344400e+04  1.496010e+05  1.759300e+04      1.0
75%    1.562385e+06  5.077200e+04  1.748120e+05  1.959900e+04      1.0
max    2.083180e+06  9.999900e+04  1.999990e+05  2.157000e+04      1.0

In [16]:
all_notes.dtypes

ROW_ID           int64
SUBJECT_ID       int64
HADM_ID        float64
CHARTDATE       object
CHARTTIME       object
STORETIME       object
CATEGORY        object
DESCRIPTION     object
CGID           float64
TEXT            object
dtype: object

In [13]:
all_notes.drop(all_notes[all_notes.ISERROR == 1].index, inplace=True)
all_notes.drop(columns="ISERROR", inplace=True)

In [15]:
all_notes.describe(include="all")

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,TEXT
count,2.082294e+06,2.082294e+06,1.850465e+06,2082294,1765728,1245518,2082294,2082294,1.245518e+06,2082294
unique,NaN,NaN,NaN,38686,1448424,1223828,15,3840,NaN,2022302
top,NaN,NaN,NaN,2148-12-03,2153-10-31 01:04:00,2134-01-07 12:25:00,Nursing/other,Report,NaN,ECG interpreted by ordering physician.\n[**Nam...
freq,NaN,NaN,NaN,161,40,16,822497,1132519,NaN,6832
mean,1.041820e+06,3.241594e+04,1.498799e+05,NaN,NaN,NaN,NaN,NaN,1.771628e+04,NaN
std,6.013821e+05,2.755077e+04,2.878071e+04,NaN,NaN,NaN,NaN,NaN,2.158616e+03,NaN
min,1.000000e+00,2.000000e+00,1.000010e+05,NaN,NaN,NaN,NaN,NaN,1.401000e+04,NaN
25%,5.210462e+05,1.146400e+04,1.251950e+05,NaN,NaN,NaN,NaN,NaN,1.580300e+04,NaN
50%,1.042034e+06,2.343000e+04,1.496010e+05,NaN,NaN,NaN,NaN,NaN,1.759300e+04,NaN
75%,1.562607e+06,5.076700e+04,1.748120e+05,NaN,NaN,NaN,NaN,NaN,1.959900e+04,NaN
max,2.083180e+06,9.999900e+04,1.999990e+05,NaN,NaN,NaN,NaN,NaN,2.157000e+04,NaN

In [44]:
rec_31558_01 = all_notes[(all_notes["SUBJECT_ID"] == 31558) & (~pd.isnull(all_notes["CHARTTIME"]))].sort_values(["CHARTDATE", "CHARTTIME"])

In [3]:
from transformers import AutoTokenizer, AutoModel, pipeline
tokenizer = AutoTokenizer.from_pretrained("emilyalsentzer/Bio_ClinicalBERT")
model = AutoModel.from_pretrained("emilyalsentzer/Bio_ClinicalBERT")

In [4]:
pipe = pipeline('feature-extraction', model=model, 
                tokenizer=tokenizer)
features = pipe(['one subjective goodness for the road',
    'two', 
    'three', 
    'four', 
    'dog'],
    pad_to_max_length=True)

In [5]:
print(len(features[0]))

8